/*home */ 
body {
    font-family:initial;
}
article.contextual-region img {
    width: 300px;
    height: 300px;
    text-align: center;
}

article div {
    text-align: center;
}

ul.links.inline {
    display: none;
}

div p {
    text-align: left;
    padding: 0 10px;
}

article span {
    padding: 0 12px;
}

div#block-front-end-search h2 {
    margin: 0;
    text-align: center;
    padding: 5px;
}

/*home */ 

.container {
    width: 1200px;
    margin: auto;
    padding: 0;
}

section#main {
    display: flex;
    margin: 16px 0;
}

aside#sidebar {
    width: 20%;
    background: rgb(5 64 69 / 81%);
}

main#content {
    width: 80%;
    background: #eee;
}

main#content h1 {
    padding: 0 50px;
    font-size: 35px;
    background: burlywood;
    margin: 0 0 0 10px;
}

.main-header {
    height: 300px;
    background: url(../images/hoaco.jpg) no-repeat center center;
}

.logo a img {
    max-width: 200px;
    margin: 0px 20px;
}

header.main-header .container {
    display: flex;
    justify-content: space-between;
}

.main-navigation div {
    display: flex;
}

.main-navigation li {
    float: left;
    list-style: none;
}

.main-navigation li a {
    display: block;
    color: #6e1ac7 !important;
    text-decoration: none;
    padding: 0px 8px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-right: 20px;
}

/*Search*/
form#search-block-form {
    display: flex;
}

form#search_form {
    display: flex;
}

#search_form button {
    background: orange;
    border: none;
    border-radius: 5%;
}

.blog-posts .down-content h4 a {
    text-decoration: underline !important;
    font-family: 'Times New Roman', Times, serif;
}
/* div#block-front-end-search h2 {
    border-bottom: 1px solid #ccc;
    background: #deb887;
    margin-bottom: 10px;
}
#pagination-content .item {
    border: 1px solid #ccc;
    margin: 0px 10px 10px 10px;
    background: #fff;
}

#pagination-content .item h2 {
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
    border-bottom: 1px solid #ccc;
    background: burlywood;
    padding: 4px;
}
#pagination-content .item h2 a {
    color: #000;
    text-decoration: underline;
    
}

#pagination-content .item p{
    font-size: 17px;
    line-height: 1.6rem;
    padding: 0px 26px;
    color: black;
    font-weight: 400;
}
#pagination-content .item .item_image {
    text-align: center;
}

/*list article*/
div#pagination-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #fff;
}

#pagination-content .blog-post {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    width: 49%;
}
.blog-post {
    border: 1px solid #ccc;
}

.blog-posts .down-content{
    padding:10px
}

.blog-thumb {
    text-align: center;
    border-bottom: 1px solid #eee;
    height:300px
}

.blog-posts .down-content h4 {
    font-size: 20px;
    letter-spacing: 0.25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.blog-posts .down-content h4 a{
    color: black;
    text-decoration: underline;
}
#pagination-content .item img{
    max-width: 100%;
    max-height: 300px;
} */
/*pagination*/
#pagination-numbers a.active {
    color: red;
    border: 1px solid #ccc;
    background: #eeeeee28;
    padding: 3px 15px;
    border-radius: 15%;
}
div#pagination-numbers  a.active {
    color: red;
    border: 1px solid #ccc;
    background: #eeeeee28;
    padding: 3px 15px;
    border-radius: 15%;
}
.pagination-numbers a.active {
    color: red;
    border: 1px solid #ccc;
    background: #eeeeee28;
    padding: 3px 15px;
    border-radius: 15%;
}
#pagination-numbers span {
    margin: auto;
    padding: 12px;
}
.pagination-numbers span {
    margin: auto;
    padding: 12px;
}

#pagination-numbers a{
    color: black;
    border: 1px solid #ccc;
    background: #eee;
    padding: 3px 15px;
    border-radius: 15%;
    margin: 0 5px;
    text-decoration: none;
}

.pagination-numbers a{
    color: black;
    border: 1px solid #ccc;
    background: #eee;
    padding: 3px 15px;
    border-radius: 15%;
    margin: 0 5px;
    text-decoration: none;
}

.pagination_art {
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
}


button#pagination-previous {
    border-radius: 5%;
    outline: none;
    background: white;
    width: 80px;
}

button#pagination-next{
    border-radius: 5%;
    outline: none;
    background: white;
    width: 80px;
}

button.pagination-previous {
    border-radius: 5%;
    outline: none;
    background: white;
    width: 80px;
}

button.pagination-next{
    border-radius: 5%;
    outline: none;
    background: white;
    width: 80px;
}

/*detail*/
div#block-front-end-content {
    background: #fff;
    margin-left: 10px;
}

div#block-front-end-content div img {
    max-height: 299px;
}

.blog-posts .down-content h3 {
    font-size: 20px;
    letter-spacing: 0.25px;
}
.body_content_detail{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 25px 0px;
}
/*detail*/

.body_content {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 25px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.blog-thumb{
	text-align: center;
	border-bottom: 1px solid #eee;
}
article.contextual-region footer {
    display: none;
}

/*Language*/
ul.links {
    margin-left: 20px;
    font-size: 20px;
    line-height: initial;
}

ul.links li {

}


/*slide */
.owl-item .item img {
    width: 691.48px;
    height: 600px;
    background: #ccc;
    border: 1px solid;
}
.owl-banner .item .item-content h4:hover {
    color: white;
}


/*tag*/
.tag_art.active{
    background-color:burlywood;
}

/*form contact*/
.firstname, .lastname, #subject {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .contact-form .submit-contact {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .contact-form .submit-contact:hover {
    background-color: #45a049;
  }
