
{% if article %}
<div class="blog-post">
    {% if article[0].field_image.entity %}
    <div class="blog-thumb">
        <img src="{{ file_url(article[0].field_image.entity.fileuri) }}" alt="Article Image">
    </div>
    {% endif %}
    <div class="down-content">
        <h3>{{ article[0].getTitle }}</h3>
            <div class="body_content_detail">
        <p>{{ article[0].body.value|striptags }}</p>
    </div>
    <div class="post-options">
        <div class="row">
            <div class="col-6">
                <ul class="post-tags">
                    <li><i class="fa fa-tags"></i></li>
                    <li><a href="#">Beauty</a>,</li>
                    <li><a href="#">Nature</a></li>
                </ul>
                </div>
            <div class="col-6">
                <ul class="post-share">
                    <li><i class="fa fa-share-alt"></i></li>
                    <li><a href="#">Facebook</a>,</li>
                    <li><a href="#"> Twitter</a></li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>
{% endif %}