{% block content %}
  <div id="lang-code-home" data-lang-code="{{ articles.langCode }}"></div>
  <div class="pagination-content">
  </div>
  <div class="pagination_art">
    <button class="pagination-previous" disabled>{{ 'Previous'|t }}</button>
    <div class="pagination-numbers">
    </div>
    <button class="pagination-next" disabled>{{ 'Next'|t }}</button>
  </div>
{% endblock %}