
{% block content %}
  <div id="lang-code-list" data-lang-code="{{ articles.langCode }}"></div>
  <div id="pagination-content">
  </div>
  <div class="pagination_art">
    <button id="pagination-previous" disabled>{{ 'Previous'|t }}</button>
    <div id="pagination-numbers">
    </div>
    <button id="pagination-next" disabled>{{ 'Next'|t }}</button>
  </div>
{% endblock %}









